#calci{
     border: 2px black solid; 
}
#subhead{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
#head{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 200px;
    gap: 10px;
    border-bottom: 2px black solid;
}
h1{
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
#typed{
    font-size: 20px;
}
#calci{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 25px;
    gap: 30px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn,#clr{
   border-radius: 15px;
   height: 40px;
   width: 50px;
   border: none;
}
#clr{
    background: rgba(34, 149, 91, 0.756); 
    color: white;
    font-size: 18px;
}
#btn{
    color: rgba(248, 244, 244, 0.631);
    color: black;
}
#mode{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: rgb(7, 29, 4);
}
#typing{
   padding-bottom: 10px; 
   font-size: 30px;
}


